@font-face {
    font-family: modeseven;
    src: url(modeseven.ttf);
}

@font-face {
    font-family: teletext;
    src: url(teletext.ttf);
}


body {
	font-family: modeseven;
	color: white;
	background-color: black;
	font-size: 32px;
	letter-spacing: 6px;
}

.center {
	margin: 0  auto;
	width:80%;
}

.blackBar{
   
   width:100%;
   height:60px;
   color: White;
   
}

#clocktime {
	color: Yellow;
}

.bbc-text {
	font-family: teletext;
	background-color: white; 
	color: black;

	font-size: 128px;	
	margin: 5px;
	text-align: center; 
	display: inline-block;
	padding-top: 7px;
  	padding-left: 7px;
}

.error {
	color: red;
}

#ceefax-text {
	font-family: teletext;
	color: Yellow;
	background-color: blue;

	letter-spacing: 8px;
	text-shadow: 0px -8px 0px rgba(0, 0, 0, 1);
	font-size: 128px;	
	display:inline-block; 
  	text-align: center; 
  	padding-top: 7px;
  	padding-right: 32px;
  	padding-left: 32px;
}

.header {

}

#page-number {
	display: inline-block;
  	width: 100px;
}


.headline {
	margin: 10px;
}

.headline-text {
	color: white;
	font-size: 48px;	
}

.headline-number {
	color: yellow;
	font-size: 48px;	
}


.headline-sub {
	color: yellow;
}

.ceefax-break {
	border-color: blue;
}

.table {
	display: table;
}

.table-row {
	display: table-row;
	padding-bottom: 5px;
}

.table-cell-yel {
	color:yellow;
	display: table-cell;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 10px;
}

.table-cell {
	display: table-cell;
	padding-left: 5px;
	padding-right: 5px;
	text-align: right;
}

.headline-cell {
	display: table-cell;
	padding-left: 5px;
	padding-right: 5px;
	text-align: left;
}

.footer {

	color: Yellow;
	background-color: blue;

	display:inline-block; 
  	text-align: center; 
  	padding-top: 7px;
  	padding-right: 32px;
  	padding-left: 32px;
  	margin: 20px;
}